body{
	min-height:1500px;
	background: #111;
	background: -moz-linear-gradient(top, #1b6483, #7dbed3);
	background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#1b6483), color-stop(100%,#7dbed3));
	background: -webkit-linear-gradient(top, #1b6483, #7dbed3);
	background: -o-linear-gradient(top, #1b6483, #7dbed3);
	background: -ms-linear-gradient(top, #1b6483, #7dbed3);
	background: linear-gradient(top, #1b6483, #7dbed3);
	-pie-background: linear-gradient(#1b6483, #7dbed3);
}
.navbar-default {
	background-color: #242424;
	border-color: #242424;
	color: #A5A5A5;
}
.navbar-static-top {
	margin-bottom: 19px;
}
.jumbotron .h1, .jumbotron h1 {
    font-size: 34px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 90px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.pagination li {
	cursor:pointer;
}
.flag-icon{
	width:28px;
	height:21px;
}
.form-inline{
	margin: 15px auto;
}
#login-form {
	width:500px;
	margin:auto;
	text-align:center;
}
#login-form input, #login-form button {
	margin: 10px auto;
}
.navbar-default .navbar-nav > li > a {
	color:#888;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#ccc;
}
.export-format-btn {
	display:inline-block;
	width:50px;
	height:50px;
	background-size:cover;
}
.export-format-btn:hover {
	cursor:pointer;
	transform:scale(1.05,1.05);
}
.export-format-txt {
	background-image:url(../images/txt.png);
}
.export-format-json {
	background-image:url(../images/json.png);
}
.export-format-xml {
	background-image:url(../images/xml.png);
}
.export-format-cc {
	background-image:url(../images/cc.png);
}
.ip-ranges {
	padding-left:0;
}
.ip-ranges li {
	display:inline-block;
	margin-right:50px;
}
.glyphicon-remove{
	color:#2E6DA4;
}
.glyphicon-remove:hover{
	cursor:pointer;
	color:red;
}
.ip-range{
	cursor:pointer;
}
.ib{
	display:inline-block;
}
